.submenu {position: absolute; background-color: #eeeeee; width:200}

.TextoAzul{
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; 
  color: #6666CC;
}

.style1 {
	color: #990000;
	font-weight: bold;
}
a {
	font-weight: bold;
}
a:link {
	color: #33485C;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #33485C;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
a:active {
	text-decoration: none;
	color: #33485C;
}
BODY {
	FONT-SIZE: 12px;
	MARGIN: 0px;
	COLOR: #444444;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}
.body {
	FONT-SIZE: 12px
}
TABLE {
	FONT-SIZE: 11px; COLOR: #444444
}
TD {
	FONT-SIZE: 11px;
	COLOR: #444444;
	padding-left: 0px;
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px
}
FORM {
	MARGIN: 0px
}

H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 0px; COLOR: #990033; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 6px; COLOR: #444444; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.TituloModulo {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}

H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 2px; COLOR: #444444; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 1px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
LI {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 6px; LIST-STYLE-TYPE: square
}
UL {
	MARGIN-TOP: 2px
}
HR {
	HEIGHT: 1px
}
.button {
	BORDER-RIGHT: #999999 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: #444444; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #d0d1d0
}
.buttonOn {
	BORDER-RIGHT: #758a9e 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #758a9e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #758a9e 1px solid; COLOR: #444444; BORDER-BOTTOM: #758a9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.button:hover {
	BORDER-RIGHT: #758a9e 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #758a9e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #758a9e 1px solid; COLOR: #444444; BORDER-BOTTOM: #758a9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.button:focus {
	BORDER-RIGHT: #758a9e 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #758a9e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #758a9e 1px solid; COLOR: #444444; BORDER-BOTTOM: #758a9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.buttonOn:focus {
	BORDER-RIGHT: #758a9e 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #758a9e 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #758a9e 1px solid; COLOR: #444444; BORDER-BOTTOM: #758a9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
INPUT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fafafa
}
select {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fafafa
}
input:focus {
	BORDER-LEFT-COLOR: #758a9e; BORDER-BOTTOM-COLOR: #758a9e; BORDER-TOP-COLOR: #758a9e; BACKGROUND-COLOR: #deefff; BORDER-RIGHT-COLOR: #758a9e
}
TEXTAREA:focus {
	BORDER-LEFT-COLOR: #758a9e; BORDER-BOTTOM-COLOR: #758a9e; BORDER-TOP-COLOR: #758a9e; BACKGROUND-COLOR: #deefff; BORDER-RIGHT-COLOR: #758a9e
}
select:focus {
	BORDER-LEFT-COLOR: #758a9e; BORDER-BOTTOM-COLOR: #758a9e; BORDER-TOP-COLOR: #758a9e; BACKGROUND-COLOR: #deefff; BORDER-RIGHT-COLOR: #758a9e
}
TEXTAREA {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}
.checkbox {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
.radio {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
.contentBox {
	BORDER-RIGHT: #9e9e9e 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #9e9e9e 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #9e9e9e 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #9e9e9e 1px solid; BACKGROUND-COLOR: #efefef
}
.currentTab {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6e6e6e; PADDING-TOP: 4px
}
A.currentTabLink:link {
	COLOR: #990033; TEXT-DECORATION: none
}
A.currentTabLink:visited {
	COLOR: #990033; TEXT-DECORATION: none
}
A.currentTabLink:hover {
	COLOR: #990033; TEXT-DECORATION: none
}
.otherTab {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x
}
A.otherTabLink:link {
	COLOR: #444444; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.otherTabLink:visited {
	COLOR: #444444; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.otherTabLink:hover {
	COLOR: #990033; TEXT-DECORATION: none
}
.welcome {
	BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../image/fundo_tabela.gif); PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; COLOR: #444444; BORDER-BOTTOM: #dfdfdf 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.searchField {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.search {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 50% top; COLOR: #444444; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: right
}
.searchButton {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #fafafa
}
.searchButton:focus {
	BACKGROUND-COLOR: #fafafa
}
.date {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #444444; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #dddddd
}
.lastView {
	BORDER-TOP: #444444 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(image/tira_tabela.gif); COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: #dfdfdf 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px; BACKGROUND-COLOR: #fafafa
}
A.lastViewLink:link {
	PADDING-LEFT: 0px; COLOR: #444444; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
A.lastViewLink:visited {
	PADDING-LEFT: 0px; COLOR: #444444; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
A.lastViewLink:hover {
	COLOR: #990033
}
TABLE.leftColumnModuleHead TH {
	BACKGROUND-POSITION: 50% top; FONT-SIZE: 12px; COLOR: #444444; BORDER-BOTTOM: #9e9e9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #d4d4d4; TEXT-ALIGN: left
}
.leftColumnModuleName {
	PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.leftColumnModuleS3 {
	BORDER-RIGHT: #9e9e9e 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; BORDER-LEFT: #9e9e9e 1px solid; COLOR: #444444; PADDING-TOP: 8px; BORDER-BOTTOM: #9e9e9e 1px solid; BACKGROUND-COLOR: #eeeeee
}
.leftColumnModuleS3 INPUT {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 4px
}
.leftColumnModuleS3 SELECT {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 4px
}
TD.leftColumnModuleS3 .button {
	FONT-SIZE: 11px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
TD.leftColumnModuleS3 .dataLabel {
	PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; PADDING-TOP: 3px
}
TD.leftColumnModuleS3 .dataField {
	PADDING-BOTTOM: 3px
}
TD.leftColumnModuleS3 .requerido {
	PADDING-BOTTOM: 3px
}
.leftColumnModuleS3 #jscal_trigger {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 4px; VERTICAL-ALIGN: bottom
}
A.leftColumnModuleS3Link:link {
	PADDING-LEFT: 0px; FONT-SIZE: 11px; COLOR: #666666; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
A.leftColumnModuleS3Link:visited {
	PADDING-LEFT: 0px; FONT-SIZE: 11px; COLOR: #666666; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
A.leftColumnModuleS3Link:hover {
	COLOR: #444444; BORDER-BOTTOM: 0px; TEXT-DECORATION: underline
}
.listView {
	BORDER-RIGHT: #9e9e9e 1px solid; BORDER-TOP: #9e9e9e 1px solid; BORDER-LEFT: #9e9e9e 1px solid; BORDER-BOTTOM: #9e9e9e 1px solid
}
TABLE.listView TH {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #33485c; PADDING-TOP: 3px; BORDER-BOTTOM: #b0cbe2 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; BACKGROUND-COLOR: #f8f7f7; TEXT-ALIGN: left
}
.listViewThS1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../image/fundo_consulta.gif); PADDING-BOTTOM: 3px; COLOR: #33485c; PADDING-TOP: 3px; BORDER-BOTTOM: #b0cbe2 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px; BACKGROUND-COLOR: #f8f7f7
}
.listViewSubHeadS1 {
	BACKGROUND-COLOR: #ffffff
}
H5.listViewSubHeadS1 {
	MARGIN-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 1px; COLOR: #33485c
}
TABLE.listview TH A:link {
	FONT-WEIGHT: bold; COLOR: #33485c; TEXT-DECORATION: none
}
TABLE.listview TH A:visited {
	FONT-WEIGHT: bold; COLOR: #33485c; TEXT-DECORATION: none
}
TABLE.listview TH A:hover {
	COLOR: #2666af; TEXT-DECORATION: none
}
A.listViewThLinkS1:link {
	FONT-WEIGHT: bold; COLOR: #33485c; TEXT-DECORATION: none
}
A.listViewThLinkS1:visited {
	FONT-WEIGHT: bold; COLOR: #33485c; TEXT-DECORATION: none
}
A.listViewThLinkS1:hover {
	COLOR: #2666af; TEXT-DECORATION: none
}
A.listViewTdLinkS1:link {
	FONT-SIZE: 12px; COLOR: #002780; TEXT-DECORATION: none
}
A.listViewTdLinkS1:visited {
	FONT-SIZE: 12px; COLOR: #002780; TEXT-DECORATION: none
}
A.listViewTdLinkS1:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.listViewTdToolsS1:link {
	TEXT-DECORATION: none
}
A.listViewTdToolsS1:visited {
	TEXT-DECORATION: none
}
A.listViewTdToolsS1:hover {
	TEXT-DECORATION: none
}
.evenListRowS1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 2px
}
.oddListRowS1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 2px
}
.listViewHRS1 {
	BACKGROUND-COLOR: #cddce8
}
.pageNumbers {
	COLOR: #444444
}
.listViewPaginationTdS1 {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; COLOR: #999999; BORDER-BOTTOM: #b0cbe2 1px solid; BACKGROUND-COLOR: #eeeeee
}
A.listViewPaginationLinkS1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #444444; TEXT-DECORATION: none
}
A.listViewPaginationLinkS1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #444444; TEXT-DECORATION: none
}
A.listViewPaginationLinkS1:hover {
	FONT-SIZE: 10px; COLOR: #990033; TEXT-DECORATION: none
}
A.listViewCheckLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.listViewCheckLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.listViewCheckLink:hover {
	FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.utilsLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #444444; TEXT-DECORATION: none
}
A.utilsLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #444444; TEXT-DECORATION: none
}
A.utilsLink:hover {
	FONT-SIZE: 11px; COLOR: #990033; TEXT-DECORATION: none
}
.tabForm {
	BORDER-RIGHT: #9e9e9e 1px solid; PADDING-RIGHT: 8px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #9e9e9e 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; BORDER-LEFT: #9e9e9e 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #9e9e9e 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #eef3f8
}
H4.dataLabel {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; COLOR: #444444; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
H5.dataLabel {
	MARGIN-TOP: 1px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 15px; COLOR: #444444; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD.dataLabel {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dataLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.dataField {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.requerido {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px;
	border-left: 3px solid #993333;
	padding-left: 3px	;
}
.tabDetailView {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #cccccc
}
.tabDetailView .listViewPaginationTdS1 .listViewPaginationLinkS1 {
	FONT-SIZE: 11px
}
.tabDetailView .listViewPaginationTdS1 .listViewPaginationLinkS1:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.tabDetailView .listViewPaginationTdS1 .tabDetailViewDFLink:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.tabDetailView .listViewPaginationTdS1 .tabDetailViewDL {
	BORDER-RIGHT: medium none; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: medium none; FONT-SIZE: 11px; BORDER-LEFT: medium none; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f8f7f7
}
.tabDetailView .listViewPaginationTdS1 .tabDetailViewDFLink {
	FONT-SIZE: 11px; COLOR: #444444; TEXT-DECORATION: none
}
.tabDetailViewDL {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #dfdfdf 1px solid; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: right
}
H4.tabDetailViewDL {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; COLOR: #444444; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tabDetailViewDF {
	PADDING-RIGHT: 10px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #444444; PADDING-TOP: 5px; BORDER-BOTTOM: #dfdfdf 1px solid; BACKGROUND-COLOR: #fafafa
}
A.tabDetailViewDFLink:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.tabDetailViewDFLink:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.tabDetailViewDFLink:hover {
	COLOR: #990033
}
.tabDetailView2 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc
}
.tabDetailViewDL2 {
	PADDING-RIGHT: 6px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 3px; BACKGROUND-COLOR: #fafafa
}
.tabDetailViewDF2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #dfdfdf 2px solid; COLOR: #444444; PADDING-TOP: 4px; BACKGROUND-COLOR: #eeeeee
}
A.tabDetailViewDL2Link:link {
	FONT-SIZE: 11px; COLOR: #444444; TEXT-DECORATION: underline
}
A.tabDetailViewDL2Link:visited {
	FONT-SIZE: 11px; COLOR: #444444; TEXT-DECORATION: underline
}
A.tabDetailViewDL2Link:hover {
	COLOR: #990033
}
H5.calSharedUser {
	BORDER-TOP: #999999 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #444444; PADDING-TOP: 5px; HEIGHT: 20px; BACKGROUND-COLOR: #d9e3ee
}
/*Define o estilo da borda do calendario*/
.calendario { 
  border:solid #009999; 
	border-width:1;
	color:#000000;
}

/*Define o estilo dos dias da semana*/
.dia {
  font-family: tahoma;
  font-weight: bold; 
  font-size: 8pt;
  background-image: url(../image/fundo_consulta.gif);
  border: solid 1px;
	color: #000000;
}

/*define o estilo para os dias do mês no calendario*/
.data {
  font-family: tahoma; 
	font-size: 8pt; 
	text-decoration:none; 
	background-color:#EEEEEE; 
	color:#000000;
	border: solid 1px;	
}

/*Define o estilo do dia atual no calendario*/
.data_hoje {
  font-family: tahoma; 
	font-size: 8pt;
        font-weight: bold; 
	text-decoration:none; 
	background-color:#33FF66; 
	color:#000000;
	border: solid 1px;
}	

/*define o estilo onde mostra o ano e o mês que se encontra*/
.mes {
  font-family: tahoma; 
	font-size: 8pt; 
	color:#000000;
	BORDER-TOP: #999999 1px solid;
}

/*Define o estilo do cabeçalho do calendario*/
.Cabecalho_Calendario {
  font-family: helvetica, arial; 
	font-size: 8pt; 
	color: #000000; 
	text-decoration:none; 
	font-weight:bold;
	background-color:#EEEEEE;	
}

.worktab_tabPane{
	height:21px;	/* Height of tabs */
	border-bottom:1px solid #919b9c;
}
.worktab_aTab{
	border-left:1px solid #919b9c;
	border-right:1px solid #919b9c;
	border-bottom:1px solid #919b9c;
	/* font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; */
	padding:5px;
  padding-top:10px;		
	
}
.worktab_tabPane DIV{
	float:left;
	height:100%;	/* Height of tabs */
	padding-left:3px;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:bottom left;
	cursor:pointer;
	position:relative;
	bottom:-1px;
	margin-left:0px;
	margin-right:0px;
}
.worktab_tabPane .tabActive{
	background-image:url('./include_imagens/tab_left_active.gif');
	margin-left:0px;
	margin-right:0px;	
	z-index:10;
  font-weight: bold;	
}
.worktab_tabPane .tabInactive{
	background-image:url('./include_imagens/tab_left_inactive.gif');
	margin-left:0px;
	margin-right:0px;
	z-index:1;
}

.worktab_tabPane .inactiveTabOver{
	background-image:url('./include_imagens/tab_left_over.gif');
	margin-left:0px;
	margin-right:0px;
}
.worktab_tabPane span{
	font-family:arial;
	vertical-align:top;
	font-size:11px;
	padding-left:3px;
	padding-right:3px;		
	line-height:21px;
	float:left;
}
.worktab_tabPane .tabActive span{
	padding-bottom:1px;
	line-height:20px;
}

.worktab_tabPane img{
	float:left;
}